body {
    background: #00BFFF;
    color: white;
}

#welcometitle {
     line-height: 150px;
     text-align: center;
     font-family: Trebuchet, Geneva, sans-serif;
     font-size: 37px;
}

#welcomelink {
    line-height: 170px;
    text-align: center;
    font-family: Trebuchet, Geneva, sans-serif;
    font-size: 32px;
}

#maintitle {
    text-align: center;
    font-size: 30px;
    font-family: Trebuchet, Geneva, sans-serif;
    border-bottom: 2px solid;
    color: white;
}

#instructions {
    text-align: center;
    font-size: 16px;
    font-family: Trebuchet, Geneva, sans-serif;
    color: white;
}

#indexheader {
    text-align: center;
    font-size: 22px;
    font-family: Trebuchet, Geneva, sans-serif;
    color: white;    
}

#tasktext {
    font-size: 18px;
    font-family: Trebuchet, Geneva, sans-serif;
    color: white;
    text-align: center;
}

#tasktextcomplete {
    font-size: 12px;
    font-family: Trebuchet, Geneva, sans-serif;
    color: white;
    text-decoration: line-through;
    text-align: center;
}

#navlink {
    font-size: 16px;
    font-family: Trebuchet, Geneva, sans-serif;
}

#navlink a {
    display: block;
    text-align: center;
    margin: 0 auto;
}

a:link {
    color:red;
}

a:visited {
    color: red;
}

a:hover {
    color:violet;
}

#showtitle {
    text-align: center;
}

#showtext a {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.alert {
    text-align: center;
    background: limegreen;
    color: black;
}

#errormessage {
    text-align: center;
    background: red;
    color: white;
}