body {
    background: lightblue;
}

#welcometitle {
     line-height: 150px;
     text-align: center;
     font-family: Trebuchet, Geneva, sans-serif;
     font-size: 37px;
}

#welcomelink {
    line-height: 170px;
    text-align: center;
    font-family: Trebuchet, Geneva, sans-serif;
    font-size: 32px;
}

#maintitle {
    text-align: center;
    font-size: 30px;
    font-family: Trebuchet, Geneva, sans-serif;
    border-bottom: 2px solid;
}

.topnav {
    text-align: center;
    padding: 0;
}

.navlink {
    text-align: center;
    display: inline-block;
    margin:0 auto;
    padding: 14px 16px;
    font-size: 16px;
    font-family: Trebuchet, Geneva, sans-serif;
}