body {
    background: #00BFFF;
    color: white;
}

#welcometitle {
     line-height: 150px;
     text-align: center;
     font-family: Trebuchet, Geneva, sans-serif;
     font-size: 37px;
}

#welcomelink {
    line-height: 170px;
    text-align: center;
    font-family: Trebuchet, Geneva, sans-serif;
    font-size: 32px;
}

#maintitle {
    text-align: center;
    font-size: 30px;
    font-family: Trebuchet, Geneva, sans-serif;
    border-bottom: 2px solid;
    color: white;
}

#tasktext {
    font-size: 18px;
    font-family: Trebuchet, Geneva, sans-serif;
    color: white;
}

.topnav {
    text-align: center;
    padding: 0;
}

.navlink {
    text-align: center;
    display: inline-block;
    margin:0 auto;
    padding: 14px 16px;
    font-size: 16px;
    font-family: Trebuchet, Geneva, sans-serif;
}

a:link {
    color:red;
}

a:visited {
    color: red;
}

a:hover {
    color:violet;
}

#showtitle {
    text-align: center;
}

#showtext a {
    display: block;
    text-align: center;
    margin: 0 auto;
}